@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.new-container {
  width: 100%;
  margin: 0 auto;
  padding: 0 1rem;
  overflow-x: hidden;
}

button {
  cursor: pointer;
}

@media (min-width: 40rem) {
  .new-container {
    max-width: 35rem;
    padding: 0;
  }
}

@media (min-width: 48rem) {
  .new-container {
    max-width: 48rem;
    padding: 0;
  }
}

@media (min-width: 64rem) {
  .new-container {
    max-width: 60rem;
    padding: 0;
  }
}

@media (min-width: 80rem) {
  .new-container {
    max-width: 70rem;
    padding: 0;
  }
}

@media (min-width: 96rem) {
  .new-container {
    max-width: 86rem;
    padding: 0;
  }
}

.fade-in {
  transform: scale(.9);
  opacity: 0;
  animation: fadeIn 2s ease forwards;
}

@keyframes fadeIn {
    to {
      transform: scale(1);
      opacity: 1;
    }
}

.fade-in-late {
    transform: scale(.9);
    opacity: 0;
    animation: fadeInLate 2s ease forwards;
    animation-delay: .5s;
}

@keyframes fadeInLate {
    to {
      transform: scale(1);
      opacity: 1;
    }
}

.fade-in-end {
    transform: scale(.9);
    opacity: 0;
    animation: fadeInLate 2s ease forwards;
    animation-delay: .8s;
}

@keyframes fadeInLate {
    to {
      transform: scale(1);
      opacity: 1;
    }
}